// media query breakpoints
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
// colors
@primary-color: #FF9800;
@light-primary-color: #FFB74D;
@super-light-primary-color: #FFF3E0;
@dark-primary-color: #F57C00;
@dark-color: #90a4ae;
@primary-text-color: #212121;
@secondary-text-color: #727272;
@dividers-color: #B6B6B6;
// icon colors
@linkedin-blue: lighten(#0077B5, 30%);
@github-purple: lighten(desaturate(#820B7F, 60%), 10%);
@email-red: lighten(#BB0000, 30%);

/** MIXINS **/

// flexbox center mixin
.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

// material shadow
.BoxShadowHelper(@level: 1) {
    & when (@level =1) {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    & when (@level =2) {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    & when (@level =3) {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    & when (@level =4) {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    & when (@level =5) {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
}

// default ease out transition
.transition(@duration: 0.2s) {
    transition: all @duration ease-out;
}

// material card effect
.card(@bgcolor: white) {
    .BoxShadowHelper(1);
    border-radius: 2px;
    background-color: @bgcolor !important;
}

// scale effect
.grow {
    transform: scale(1.1);
}

.navbar {
    background-color: transparent !important;
    background: transparent !important;
    border-color: transparent !important;
}

.navbar-right {
    margin-right: 1em;
}

.icon-bar {
    .card;
}

#home-wrapper {
    background-color: white;
}

p {
    color: @primary-text-color;
}

.container {
    padding: 0;
}

// Homepage
#home {
    @media only screen and (min-width: @screen-md-min) {
        .center-all;
        height: 100vh;
        min-height: 600px;
        max-height: 1000px;
    }
    // svg logo
    #text-logo {
        max-width: 100%;
    }
}

.nav a {
    padding: 0.7em 1em !important;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

// Homepage description
#info-container {
    order: 2; // comes after #phone-container for medium+ screens
    margin-top: 10em;
    // margin-bottom: 10em;
}

#download-container {
    .center-all;
    .card(@dark-primary-color);
    .transition;
    .BoxShadowHelper(2);
    color: white;
    height: 60px;
    width: 190px;
    margin: 1em 0;
    text-decoration: none !important;
    &:hover {
        .BoxShadowHelper(3);
    }
    * {
        display: inline-block;
    }
    img {
        margin-left: -1em;
    }
    #dl-text {
        font-size: 18px;
        margin-left: 0.5em;
    }
}

// Homepage phone screenshots
#phone-container {
    order: 1;
    overflow: hidden;
    padding: 0;
    height: 100px;
}

#video-container {
    max-height: 100%;
    overflow: hidden;
    .video-active {
        display: block !important;
        visibility: visible !important;
        width: 100%;
        padding: 5em;
        padding-top: 3em;
    }
    video {
        display: none;
        visibility: hidden;
    }
}

#team-wrapper {
    background-color: white;
}

#team {
    padding-top: 10em;
    padding-bottom: 10em;
}

.team-row {
    .center-all;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.profile {
    display: inline-block;
    text-align: center;
    margin: 5em 0;
    .profile-pic {
        .transition(0.1s);
        .card;
        width: 200px;
        height: 200px;
        &:hover {
            .grow;
        }
    }
    .icon {
        width: 48px;
        height: 48px;
        padding: 14px;
        margin: 0 0.5em;
        display: inline-block;
        .transition(0.1s);
        &:active {
            .grow;
        }
        img {
            width: 100%;
            filter: invert(100%);
        }
    }
    .icon-linkedin {
        .icon;
        .card(@linkedin-blue);
    }
    .icon-github {
        .icon;
        .card(@github-purple);
    }
    .icon-email {
        .icon;
        .card(@email-red);
    }
}

#contact-wrapper {
    background-color: white;
    color: #eeeeee;
}

#contact {
    padding-top: 5em;
    height: 100vh;
    min-height: 300px;
    max-height: 400px;
    text-align: center;
    #links {
        img {
            .BoxShadowHelper(1);
            width: 100px;
            height: 100px;
            margin: 1em;
        }
    }
}

#fixed-buttons {
    margin: 1em;
    position: fixed;
    right: 0;
    top: 0;
}

footer {
    background: transparent !important;
}

// debugging
// body div {
//     outline: 1px red solid;
// }
// a {
//     outline: 1px green solid;
// }
// video {
//     outline: 1px blue solid;
// }
