/** material color codes **/
/** MIXINS **/
.center-all {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.grow {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.navbar {
  background: transparent !important;
  border-color: transparent !important;
}
.navbar a {
  background: transparent !important;
}
.navbar-right {
  margin-right: 1em;
}
.icon-bar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  background-color: white !important;
}
#home-wrapper {
  background-color: #00796b;
}
p {
  color: #212121;
}
.container {
  padding: 0;
}
.mdl-button--primary {
  background-color: #004d40 !important;
  color: #b2dfdb !important;
}
@media only screen and (min-width: 992px) {
  #home {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    min-height: 800px;
    max-height: 1000px;
  }
}
#home #text-logo {
  max-width: 100%;
}
.nav {
  margin: 0.3em;
}
.nav a {
  padding: 0 !important;
  margin: 0.3em;
}
.nav li {
  display: inline-block;
}
#info-container {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-top: 25em;
  margin-bottom: 20em;
}
#phone-screenshot {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  height: 89vh;
  max-height: 800px;
  min-height: 600px;
  position: relative;
  margin-bottom: 2em;
}
#phone-screenshot > div {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#phone-screenshot img {
  height: 89vh;
  min-height: 600px;
  max-height: 800px;
}
#download-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3em;
  text-decoration: none;
}
#download-container button {
  height: 54px;
  font-size: 18px;
}
#video-container {
  position: absolute;
  width: 417px;
  height: 745px;
  overflow: hidden;
  margin: 99px 17px;
}
#video-container .video-active {
  display: block !important;
  visibility: visible !important;
  width: 100%;
}
#video-container video {
  display: none;
  visibility: hidden;
}
#team-wrapper {
  background-color: white;
}
#team {
  padding-top: 10em;
  padding-bottom: 10em;
}
.team-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-raound;
  -ms-flex-pack: space-raound;
  justify-content: space-raound;
}
.profile {
  width: 450px;
  margin: 3em 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.profile .profile-pic {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  background-color: white !important;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-right: 2em;
  transition: all 0.1s ease-out;
}
.profile .profile-pic:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.profile .profile-info {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
.profile h3 {
  margin: 0;
  margin-top: 0.2em;
}
.profile h4 {
  margin-left: 0.1em;
  margin-top: .5em;
  color: #727272;
}
.profile .icon {
  margin: 0 0.5em;
  display: inline-block;
  transition: all 0.1s ease-out;
}
.profile .icon button {
  padding: 6px !important;
  width: 48px !important;
  min-width: 48px !important;
  height: 48px !important;
}
.profile .icon img {
  width: 24px;
  height: 24px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.profile .icon-linkedin {
  margin: 0 0.5em;
  display: inline-block;
  transition: all 0.1s ease-out;
}
.profile .icon-linkedin button {
  padding: 6px !important;
  width: 48px !important;
  min-width: 48px !important;
  height: 48px !important;
}
.profile .icon-linkedin img {
  width: 24px;
  height: 24px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.profile .icon-linkedin button {
  background: #4fc3ff;
}
.profile .icon-github {
  margin: 0 0.5em;
  display: inline-block;
  transition: all 0.1s ease-out;
}
.profile .icon-github button {
  padding: 6px !important;
  width: 48px !important;
  min-width: 48px !important;
  height: 48px !important;
}
.profile .icon-github img {
  width: 24px;
  height: 24px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.profile .icon-github button {
  background: #774976;
}
.profile .icon-email {
  margin: 0 0.5em;
  display: inline-block;
  transition: all 0.1s ease-out;
}
.profile .icon-email button {
  padding: 6px !important;
  width: 48px !important;
  min-width: 48px !important;
  height: 48px !important;
}
.profile .icon-email img {
  width: 24px;
  height: 24px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.profile .icon-email button {
  background: #ff5555;
}
#contact-wrapper {
  background-color: white;
  color: #eeeeee;
}
#contact {
  padding-top: 5em;
  height: 100vh;
  min-height: 300px;
  max-height: 400px;
  text-align: center;
}
#contact #links img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100px;
  height: 100px;
  margin: 1em;
}
#fixed-buttons {
  margin: 1em;
  position: fixed;
  right: 0;
  top: 0;
}
footer {
  padding: 1.5em;
  background: #263238 !important;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer button {
  color: #cfd8dc !important;
  text-decoration: none !important;
  font-size: 16px !important;
}
footer #footer-text {
  text-transform: uppercase;
  font-size: 12px;
  color: #90a4ae;
}
