/** MIXINS **/
.center-all {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.grow {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.navbar {
  background-color: transparent !important;
  background: transparent !important;
  border-color: transparent !important;
}
.navbar-right {
  margin-right: 1em;
}
.icon-bar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  background-color: white !important;
}
#home-wrapper {
  background-color: #FF9800;
}
p {
  color: #212121;
}
.container {
  padding: 0;
}
@media only screen and (min-width: 992px) {
  #home {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    max-height: 1000px;
  }
}
#home #text-logo {
  max-width: 100%;
}
.nav a {
  padding: 0.7em 1em !important;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
#info-container {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-top: 10em;
}
#download-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  background-color: #F57C00 !important;
  transition: all 0.2s ease-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: white;
  height: 60px;
  width: 190px;
  margin: 1em 0;
  text-decoration: none !important;
}
#download-container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#download-container * {
  display: inline-block;
}
#download-container img {
  margin-left: -1em;
}
#download-container #dl-text {
  font-size: 18px;
  margin-left: 0.5em;
}
#phone-container {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  overflow: hidden;
  padding: 0;
  height: 100px;
}
#video-container {
  position: relative;
  max-height: 100%;
  overflow: hidden;
}
#video-container:hover > .js-play-button {
  opacity: 0.8;
}
#video-container .video-active {
  display: block !important;
  visibility: visible !important;
  width: 100%;
  padding: 5em;
  padding-top: 3em;
}
#video-container video {
  display: none;
  visibility: hidden;
}
.js-play-button {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 50% auto;
  left: 0;
  right: 0;
  border: 0;
  background-color: black;
  outline: none;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-out;
}
#team-wrapper {
  background-color: white;
}
#team {
  padding-top: 10em;
  padding-bottom: 10em;
}
.team-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0;
}
.profile {
  display: inline-block;
  text-align: center;
  margin: 5em 0;
}
.profile .profile-pic {
  transition: all 0.1s ease-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  background-color: white !important;
  width: 200px;
  height: 200px;
}
.profile .profile-pic:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.profile .icon {
  width: 48px;
  height: 48px;
  padding: 14px;
  margin: 0 0.5em;
  display: inline-block;
  transition: all 0.1s ease-out;
}
.profile .icon:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.profile .icon img {
  width: 100%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.profile .icon-linkedin {
  width: 48px;
  height: 48px;
  padding: 14px;
  margin: 0 0.5em;
  display: inline-block;
  transition: all 0.1s ease-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  background-color: #4fc3ff !important;
}
.profile .icon-linkedin:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.profile .icon-linkedin img {
  width: 100%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.profile .icon-github {
  width: 48px;
  height: 48px;
  padding: 14px;
  margin: 0 0.5em;
  display: inline-block;
  transition: all 0.1s ease-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  background-color: #774976 !important;
}
.profile .icon-github:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.profile .icon-github img {
  width: 100%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.profile .icon-email {
  width: 48px;
  height: 48px;
  padding: 14px;
  margin: 0 0.5em;
  display: inline-block;
  transition: all 0.1s ease-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  background-color: #ff5555 !important;
}
.profile .icon-email:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.profile .icon-email img {
  width: 100%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
#contact-wrapper {
  background-color: white;
  color: #eeeeee;
}
#contact {
  padding-top: 5em;
  height: 100vh;
  min-height: 300px;
  max-height: 400px;
  text-align: center;
}
#contact #links img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100px;
  height: 100px;
  margin: 1em;
}
#fixed-buttons {
  margin: 1em;
  position: fixed;
  right: 0;
  top: 0;
}
footer {
  background: transparent !important;
}
